<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Ex03_Insert</display-name>
    <servlet-name>Ex03_Insert</servlet-name>
    <servlet-class>ch07_dao.Ex03_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03_Insert</servlet-name>
    <url-pattern>/Ex03_Insert</url-pattern>
  </servlet-mapping>
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Ex02_Parameter</servlet-name>
    <servlet-class>ch06_basic.Ex02_Parameter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex01_RequestMethod</servlet-name>
    <servlet-class>ch06_basic.Ex01_RequestMethod</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex05_Login</servlet-name>
    <servlet-class>ch06_basic.Ex05_Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex01_RequestMethod2</servlet-name>
    <servlet-class>ch06_basic.Ex01_RequestMethod2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex03_Calculator2</servlet-name>
    <servlet-class>ch06_basic.Ex03_Calculator2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex02_LifeCycle</servlet-name>
    <servlet-class>ch05.Ex02_LifeCycle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex01_FirstServlet</servlet-name>
    <servlet-class>ch05.Ex01_FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex03_Calculator</servlet-name>
    <servlet-class>ch06_basic.Ex03_Calculator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex04_RegisterMember</servlet-name>
    <servlet-class>ch06_basic.Ex04_RegisterMember</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex01_Search</servlet-name>
    <servlet-class>ch07_dao.Ex01_Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ex02_List</servlet-name>
    <servlet-class>ch07_dao.Ex02_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_Parameter</servlet-name>
    <url-pattern>/ch06/params</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex01_RequestMethod</servlet-name>
    <url-pattern>/ch06/requestMethod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex05_Login</servlet-name>
    <url-pattern>/ch06/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex01_RequestMethod2</servlet-name>
    <url-pattern>/ch06/requestMethod2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex03_Calculator2</servlet-name>
    <url-pattern>/ch06/calc2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex02_LifeCycle</servlet-name>
    <url-pattern>/ch05/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex01_FirstServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
    <url-pattern>/ch05/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex03_Calculator</servlet-name>
    <url-pattern>/ch06/calc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex04_RegisterMember</servlet-name>
    <url-pattern>/ch06/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex01_Search</servlet-name>
    <url-pattern>/ch07/city/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ex02_List</servlet-name>
    <url-pattern>/ch07/city/list</url-pattern>
  </servlet-mapping>
</web-app>